*, *::after, *::before {
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://wallpapercave.com/dwp2x/wp2333242.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.alertbox {
    position: fixed;
    opacity:inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(40, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    font-family: cursive;
}    

.wrapper {
    width: 430px;
    background: white;
}
.wrapper h1{ /*Guess the Word*/
    font-size: 40px;
    color: rgb(66, 62, 62);
    padding: 20px 25px;
    border: 3px solid rgb(129, 125, 125);
}
.wrapper .content {
    margin: 25px 25px 35px;
}
.content .typing-input{
    z-index: -999;
    font-size: large;
    position: initial;
    width: 7em;
    height: 2em;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(202, 194, 194);
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    text-align: center;
    color: black;
    border: 2px solid gray;
}
.inputs input:first-child {
    margin-left: 0;
}
.content .details{
    margin: 20px 0 25px;
}
.details p{
    font-size: 19px;
    margin-bottom: 10px;
}
.content .reset-btn {
    width: 100%;
    padding: 15px;
    color: white;
    background: black;
    cursor: pointer;
}
.reset-btn:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}


